useDynLib(ahriTRErRs, .registration = TRUE)
export(asset_delete)
export(asset_duo_clear)
export(asset_duo_list)
export(asset_duo_replace)
export(asset_get)
export(asset_list)
export(asset_versions)
export(datafile_delete)
export(datafile_export)
export(datafile_list)
export(datafile_metadata)
export(datafile_search)
export(dataset_data)
export(dataset_delete)
export(dataset_export)
export(dataset_list)
export(dataset_metadata)
export(dataset_preview)
export(dataset_search)
export(dataset_withdraw)
export(auth_login)
export(auth_logout)
export(auth_status)
export(daemon_doctor)
export(daemon_start)
export(daemon_status)
export(daemon_stop)
export(daemon_version)
export(session_close)
export(session_list)
export(session_open)
export(session_reopen)
export(session_status)
export(session_use)
export(datastore_adopt)
export(datastore_create)
export(datastore_info)
export(datastore_list)
export(datastore_ping)
export(datastore_rotate)
export(datastore_schema)
export(domain_add)
export(domain_delete)
export(domain_get)
export(domain_list)
export(tag_get)
export(tag_list)
export(tag_set)
export(variable_add)
export(variable_delete)
export(variable_get)
export(variable_list)
export(variable_search)
export(variable_update)
export(vocabulary_add)
export(vocabulary_delete)
export(vocabulary_get)
export(vocabulary_list)
export(entity_delete)
export(entity_instance_asset_link_add)
export(entity_instance_asset_link_list)
export(entity_instance_dataset_link_add)
export(entity_instance_dataset_link_get)
export(entity_instance_dataset_link_list)
export(entity_instance_datasets)
export(entity_instance_ensure)
export(entity_instance_add)
export(entity_instance_get)
export(entity_instance_list)
export(entity_instance_map_add)
export(entity_instance_map_get)
export(entity_instance_map_list)
export(entity_add)
export(entity_get)
export(entity_list)
export(entity_search)
export(entity_relation_delete)
export(entity_relation_instance_asset_link_add)
export(entity_relation_instance_asset_link_list)
export(entity_relation_instance_dataset_link_add)
export(entity_relation_instance_dataset_link_get)
export(entity_relation_instance_dataset_link_list)
export(entity_relation_instance_ensure)
export(entity_relation_instance_add)
export(entity_relation_instance_get)
export(entity_relation_instance_list)
export(entity_relation_instance_map_add)
export(entity_relation_instance_map_get)
export(entity_relation_instance_map_list)
export(entity_relation_add)
export(entity_relation_get)
export(entity_relation_list)
export(entity_relation_search)
export(ingest_datafile)
export(ingest_dataset_datafile)
export(ingest_dataset_sql)
export(ingest_dataset_table)
export(ingest_redcap_project)
export(transformation_list)
export(completion)
export(doctor)
export(schema_get)
export(schema_list)
export(version)
export(study_access_grant)
export(study_access_list)
export(study_access_revoke)
export(study_add)
export(study_add_domain)
export(study_clear_current)
export(study_context_list)
export(study_current)
export(study_custodians_add)
export(study_custodians_list)
export(study_custodians_remove)
export(study_custodians_transfer)
export(study_delete)
export(study_duo_list)
export(study_duo_replace)
export(study_get)
export(study_list)
export(study_search)
export(study_use)
