useDynLib(ahritre, .registration = TRUE)
export(AhriTreClient)
export(RuntimeConfig)
export(arrow_ipc_to_table)
export(check_protocol_compatibility)
export(discover_runtime_artifact)
export(execute_json)
export(protocol_failure_summary)
export(payload_smoke_summary)
export(redact_diagnostics)
export(run_contract_smoke)
export(runtime_discover_daemon_binary)
export(runtime_ensure)
export(runtime_status)
export(runtime_stop)
export(smoke_failure_request)
export(smoke_success_request)
