[Unit]
Description=Test Lake pilot_tre SMB Mount
After=network-online.target
Wants=network-online.target

[Mount]
What=//DBN-Pure-Nas-01.ahri.org/testlake/pilot_tre
Where=/mnt/test_lake/pilot_tre
Type=cifs
Options=credentials=/root/.smbcredentials,uid=1000,gid=1000,file_mode=0755,dir_mode=0755

[Install]
WantedBy=multi-user.target
